
.App {
  /* Alinea el texto (como center) y tb los bloques (imagenes y eso) */
  text-align: -webkit-center;
}
/* Del Header */
#cabecera {
  background-color: #282c34;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0cm;
}

.logo {
  width: 70px;
  animation: App-logo-spin infinite 20s linear;
}

.mensaje {
  color: #c9eced;
  margin-left: 20px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#titulo {
  text-align: center
}
#buscar{
  margin: 1%;
}
.input{
  margin: 1%;
}

/* Del Resultado */
#items{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

li {
  list-style-type: none;
  border: 1px solid #ccc;
  padding: 10px;
}

